@model DaddyJokesWebApp.Models.JokeCount
@{
    ViewData["Title"] = "Random Joke Count";
}

<h1>Random Joke Count</h1>
<dl class="row">
    
    <dd class="col-sm-12">
        @Model.Body
    </dd>
</dl>